<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "test.com.getting.started"
	version 	= "1.0.0">

	<name>PhoneGap: Testiing Gets Started</name>

	<description>
		A template for getting started with PhoneGap development and build.phonegap.com
	</description>

	<author href="http://test.com"
		email="me@test.com">
		Me 2 Test
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
